<div class="limiter">
    <div class="container-form100">
        <div class="wrap-custom100">

            <div *ngTemplateOutlet="this.getShowingTemplate()"></div>

            <div class="custom100-more" style="background-image: url('/assets/images/background/bg-01.jpg');"></div>
        </div>
    </div>
</div>

<ng-template #loginTmpl>
    <app-login-form [isLoading]="isLoading" (doLogin)="doLogin.emit($event)" (showRegisterTemplate)="showRegisterTemplate()" [enableForm]="enableForm" ></app-login-form>
</ng-template>

<ng-template #registerTmpl>
    <app-register-form (doRegister)="doRegister.emit($event)" (showLoginTemplate)="showLoginTemplate()" [resetForm]="resetForm"></app-register-form>
</ng-template>