<div>
    <form [formGroup]="meetingEditionForm" class="form">
        <h2 class="mb-4" *ngIf="!creatingMeeting">Meeting edition</h2>
        <h2 class="mb-4" *ngIf="creatingMeeting">Meeting creation</h2>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input type="description" matInput formControlName="description">
            <mat-error *ngIf="meetingEditionForm.get('description').errors && meetingEditionForm.get('description').touched">
              {{ formValidationService.getErrorMessage(meetingEditionForm.get('description')) }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="pickerFrom" placeholder="Choose a date" formControlName="meetingStartDate">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFrom>
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="meetingEditionForm.get('meetingStartDate').errors && meetingEditionForm.get('meetingStartDate').touched">
              {{ formValidationService.getErrorMessage(meetingEditionForm.get('meetingStartDate')) }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="Choose a date" formControlName="meetingEndDate">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerTo>
            </ngx-mat-datetime-picker>
            <mat-error *ngIf="meetingEditionForm.get('meetingEndDate').errors && meetingEditionForm.get('meetingEndDate').touched">
              {{ formValidationService.getErrorMessage(meetingEditionForm.get('meetingEndDate')) }}
            </mat-error>
        </mat-form-field>


        <div class="float-right mt-4">
            <button type="button" class="btn btn-light mr-2" (click)="close()">Close</button>
            <button type="button" class="btn btn-dark" (click)="onSaveMeeting()">Submit</button>
        </div>
    
    </form>
</div>
