.form {
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
}

h2 { 
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}

.mat-form-field {
    width: 100%;
}

.attendant:hover {
    text-decoration: line-through;
}