<div>
  <form [formGroup]="meetingEditionForm" class="form">
    <h2 class="mb-4" *ngIf="!creatingMeeting && !data.disabled">Meeting edition</h2>
    <h2 class="mb-4" *ngIf="creatingMeeting">Meeting creation</h2>

    <div class="row">
      <div class="col-8">
        <mat-form-field>
          <mat-label>Description <span class="mandatory-field">*</span></mat-label>
          <input type="description" matInput formControlName="description">
          <mat-error
            *ngIf="meetingEditionForm.get('description').errors && meetingEditionForm.get('description').touched">
            {{ formValidationService.getErrorMessage(meetingEditionForm.get('description')) }}
          </mat-error>
        </mat-form-field>

        <div class="form-contents">

          <mat-form-field>
            <mat-label>Start date <span class="mandatory-field">*</span></mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerFrom" formControlName="meetingStartDate">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerFrom>
            </ngx-mat-datetime-picker>
            <mat-error
              *ngIf="meetingEditionForm.get('meetingStartDate').errors && meetingEditionForm.get('meetingStartDate').touched">
              {{ formValidationService.getErrorMessage(meetingEditionForm.get('meetingStartDate')) }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>End date <span class="mandatory-field">*</span></mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerTo" formControlName="meetingEndDate">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerTo>
            </ngx-mat-datetime-picker>
            <mat-error
              *ngIf="meetingEditionForm.get('meetingEndDate').errors && meetingEditionForm.get('meetingEndDate').touched">
              {{ formValidationService.getErrorMessage(meetingEditionForm.get('meetingEndDate')) }}
            </mat-error>
          </mat-form-field>
          <p class="custom-error"
            *ngIf="meetingEditionForm.errors?.meetingDates && !(meetingEditionForm.get('meetingStartDate').errors && meetingEditionForm.get('meetingStartDate').touched) &&
                  !(meetingEditionForm.get('meetingEndDate').errors && meetingEditionForm.get('meetingEndDate').touched)">
            {{meetingEditionForm.errors.meetingDates}}</p>
        </div>
      </div>
      <div class="col-4">
        <p>Attendants</p>

        <div class="row" *ngIf="!data.disabled">
          <div class="col-9">
            <mat-form-field appearance="fill">
              <mat-select id="attendantsSelectEditionModal" name="attendantsSelectEditionModal"
                [compareWith]="userComparisonFunction" [(value)]="selectedAttendant">
                <mat-option *ngFor="let user of getUsersNotAttendants()" [value]="user">{{user.username}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <p class="custom-error" *ngIf="meetingEditionForm.errors?.attendants && showAttendantsError">{{meetingEditionForm.errors.attendants}}</p>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-add mr-2 mt-2" (click)="addAttendant()"><i
                class="fas fa-plus"></i></button>
          </div>
        </div>

        <div class="ml-3">
          <ul>
            <li>{{data.organiser.username}} <i class="fas fa-crown"></i></li>
            <li *ngFor="let attendant of attendantListCopy" (click)="removeAttendant(attendant)">
              <span [class.attendant]="!data.disabled" [class.pointer]="!data.disabled">{{attendant.username}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="float-right mt-4">
      <button type="button" class="btn btn-light mr-2" (click)="close()">Close</button>
      <button type="button" class="btn btn-dark" *ngIf="!data.disabled" (click)="onSaveMeeting()">Submit</button>
    </div>

  </form>
</div>