.table-container {
    max-height: calc(100vh - 25em);
    overflow: auto;

    table {
        width: 100%;
    }
}

.mat-column-select {
    overflow: initial;
}

td.mat-cell:last-of-type { 
    font-size: 20px !important;
}

.btn-add {
    color: #fff;
    background-color: #6DBF63;
    border-color: #6DBF63;
}