/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('/assets/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('/assets/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Poppins-Bold;
    src: url('/assets/fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('/assets/fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/assets/fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('/assets/fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('/assets/fonts/montserrat/Montserrat-Regular.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

  
/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #6675df;
}

label {
  display: block;
  margin: 0;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}


/*==================================================================
[ Text ]*/
.txt1 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
}

.txt2 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.mandatory-field {
    color: red;
}

.btn-add {
    color: #fff;
    background-color: #6DBF63;
    border-color: #6DBF63;
}

.pointer {
    cursor: pointer
}

.custom-error {
    font-size: 75%;
    color: red;
    position: relative;
    margin-top: -1.75em !important;
}

.form-contents{
    position: absolute;
    display: contents;
}