.table-container {
    height: calc(100% - 3em);
    overflow: auto;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.hidden {
    display: none;
}

td.mat-cell:last-of-type { 
    font-size: 20px !important;
}

.mat-sort-header-arrow { opacity: 1 !important; }