<header class="header" *ngIf="isAuthenticated$ | async">

	<div class="header-limiter">

		<img width="100px" class="mx-auto d-block" src="/assets/images/logo/kraken.png">

		<nav>
			<a href="#" [routerLink]="[EXPOSE_CONSTANTS.HOME_ROUTE]" [class.selected]="getActiveRoute() === EXPOSE_CONSTANTS.HOME_ROUTE">Home</a>
			<a href="#" [routerLink]="[EXPOSE_CONSTANTS.ADMIN_ROUTE]" [class.selected]="getActiveRoute() === EXPOSE_CONSTANTS.ADMIN_ROUTE" *ngIf="userIsAdmin()">Admin</a>
		</nav>

		<nav class="user">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{(getAuthenticatedUser$ | async).username}}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
				</div>
			</div>
		</nav>

	</div>

</header>