<app-spinner *ngIf="loading"></app-spinner>

<div class="container">

    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Reuniones en curso">
            <app-meeting-table [data]="ELEMENT_DATA"></app-meeting-table>
        </mat-tab>

        <mat-tab label="Próximas reuniones">
            <app-meeting-table [data]="ELEMENT_DATA"></app-meeting-table>
        </mat-tab>

        <mat-tab label="Reuniones finalizadas">
            <app-meeting-table [data]="ELEMENT_DATA"></app-meeting-table>
        </mat-tab>
    </mat-tab-group>

</div>



